
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
}
.logo{
    font-family: "League Spartan", sans-serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -7px;
    background: url("../assets/bg1.webp") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}
.caption{
    line-height: 3vh;
    font-size: 18px;
}
.caption_one{
    margin-top: 2vh;
}
.webDetails{
    display: flex;
    justify-content: space-between;
    margin: 10vh auto;
    width: 60%;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: initial;
}
.carousel {
    position: relative;
    width: 30rem;
    height: 400px; 
    overflow: hidden;
    border-radius: 50px;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.profile-icon{
  height: 180px;
}
.profile-details{
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2.5rem;
  margin-top: 7%;
  margin-bottom: 10%;
}

.user-name{
  margin-bottom: 1%;
}

.user-button{
  margin-bottom: 1.1%;
}

.user-icons{
  height: 20px;
}
.user-collection-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.user-collection {
  display: flex;
  align-items: center;
  margin-top: 1%;
  cursor: pointer;
  position: relative; 
}

.user-collection::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.user-collection:hover::after {
  transform: scaleX(1);
}
#back-btn-img{
  height: 25px;
}