*{
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    font-family: "Varela Round", sans-serif;
    padding: 0px;
    margin: 0px;
}

/* nav css */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 25px; 
}

#logo{
    height: 40px;
}
/* search-container css */
.navbar .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}
#search-input{
    width: 70%;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 20px;
} 
#search-btn{
    border-radius: 20px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border: none;
    margin-left: -65px;
    width: 4rem;
}
#search-img{
    cursor: pointer;
    height: 32px;
}

/* user-container css */
.user-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

#add-img{
    margin-right: 30%;   
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    cursor: pointer;
}
#add{
    font-size: 20px;
}
#nav-link{
    margin-right: 20%;
    text-decoration: none;
    color: rgb(116, 116, 116);
    transition: color 0.3s ease; 
}
#nav-link:hover{
    color: black;
}
#profile-icon{
    height: 40px;
    /* margin-left: 10%; */
}